<div class="card text-center">
    <div class="card-header">
        {{product.name}}
    </div>
    <div class="card-body">
        <h5 class="card-title">Product Name: {{product.name}}</h5>
        <h5 class="card-title">Product email: {{product.details}}</h5>
        <h5 class="card-title">Product image: {{product.image}}</h5>
        <h5 class="card-title">Product price: {{product.price}}</h5>
        <h5 class="card-title">Product company: {{product.companyId}}</h5>
    </div>
    <div class="card-footer text-muted">
        <button class="btn btn-secondary" (click)="goBack()">Go Back</button> |
        <a class="btn btn-secondary" [routerLink]="['/products-edit', product._id]">Update</a> |
        <button class="btn btn-secondary" (click)="deleteProductById(product._id)">Delete</button>
    </div>
</div>