<div class="container">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products;let rowIndex=index">
                <td>{{rowIndex+1}}</td>
                <td>{{product.name}}</td>
                <td>{{product.image}}</td>
                <td>{{product.price}}</td>
                <a class="btn btn-secondary" [routerLink]="['/products-detail', product._id]">View Details</a>
            </tr>
        </tbody>
    </table>
    <a routerLink='/products-add' class="btn btn-secondary">Add Product</a>
</div>